@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Product List";
}

<span>
    <h2>@ViewData["Title"]</h2>
    <a asp-action="Create" class="btn btn-outline-primary">Add New Product</a>

</span>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-success">Details</a> |
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

